# GitHub credentials
GIT_USERNAME="MyUsername"
GIT_PASSWORD="ghp_API-Token"
REPO_URL="https://$GIT_USERNAME:$GIT_PASSWORD@github.com/SnowDrifterr/CS-Capstone.git"


# OAI token
OPENAI_API_KEY="sk-proj-API-Token"
SPOONACULAR_API_KEY="API-Token"
