.recipes-header {
  text-align: center;
  color: white;
  margin-top: 60px;
  font-size: 50px;
}

.recipes-container {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  flex-wrap: nowrap;
}

.search-form input {
  padding: 10px;
  flex: 1;
  max-width: 60%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px 10px;
  font-size: 17px;
}

.search-form button {
  padding: 10px;
  background-color: #5900a1;
  border: none;
  color: white;
  padding: 12px 10px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.search-form button:hover {
  background-color: #4a0087;
}

.recipes-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  height: 100%;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #ddd;
  width: 100%;
  margin: 10px auto;
  height: 100%; 
}

.recipe-card h3 {
  flex-grow: 1;  
}

.recipe-card img {
  max-width: 100%;
  border-radius: 5px;
}

.recipe-card button {
  background-color: #5900a1;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto; 
}

.recipe-card button:hover {
  background-color: #4a0087;
}

.recipes-list::-webkit-scrollbar {
  width: 8px;
}

.recipes-list::-webkit-scrollbar-thumb {
  background: #8c00ff;
  border-radius: 10px;
}

.recipes-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 20px;
  width: 90%;
  padding-bottom: 10%;
}

@media (max-width: 768px) {
  .search-form {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 97%;
  }

  .search-form input {
    width: 100%;
  }

  .recipes-list {
    padding: 5px;
  }
}

.modal-content {
  position: fixed;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px; 
  max-width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 100vh;
}

.modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.recipes-subheader{
  text-align: center;
  color: white;
}

